.jumbotron {
    background-color: skyblue;
    color: black;
    padding-top: 100px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: skyblue;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-ciudad {
    flex: 1 300px;
    margin-top: 10px;
}

.btn-viajar {
    width: 100%;
    border-radius: 0;
}

.tab-content {
    padding-top:10px;
}