$yellow: #eddf1f;
$red: #ed1f1f;
$green: #1ab84e;
$blue: #63d7db;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin rellenos($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron {
    background-color: $blue;
    color: black;
    @include rellenos(100px, 0px, 50px, 15px);
}

footer {
    background-color: $blue;
    @include margenes(10px, 0px);
    @include rellenos(10px, 10px, 0px, 10px);
}

.card-ciudad {
    flex: 1 300px;
    @include margenes(10px, 0px);
}

.btn-viajar {
    width: 100%;
    border-radius: 0;
}

.tab-content {
    padding-top:10px;
    @include rellenos(10px, 0px, 0px, 0px);
}