.jumbotron {
  background-color: #63d7db;
  color: black;
  padding-top: 100px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}
footer {
  background-color: #63d7db;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}
.card-ciudad {
  flex: 1 300px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-viajar {
  width: 100%;
  border-radius: 0;
}
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
