@yellow: #eddf1f;
@red: #ed1f1f;
@green: #1ab84e;
@blue: #63d7db;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.rellenos(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.jumbotron {
    background-color: @blue;
    color: black;
    .rellenos(100px, 0px, 50px, 0px);
}

footer {
    background-color: @blue;
    .margenes(10px);
    .rellenos(10px, 10px, 0px, 10px);
}

.card-ciudad {
    flex: 1 300px;
    .margenes(10px);
}

.btn-viajar {
    width: 100%;
    border-radius: 0;
}

.tab-content {
    padding-top:10px;
    .rellenos(10px);
}